<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snacks Home</title>
</head>
<nav>
    <a href="{% url 'snack_list' %}">Home</a>
    <a href=" {% url 'snack_create' %}">Create Snack</a>
</nav>
<body>
{% block content %}
{% endblock content %}

</body>
</html>