{% extends 'base.html' %}

{% block content %}
    <section>
    <h2>{{ snack.title }} information</h2>
    <h2>Purchaser: {{ snack.purchaser }}</h2>
    <p>Description: {{ snack.description }}</p>
        <button type="button" name="submit" onclick="location.href='{% url 'snack_update' snack.pk %}'">Update Snack</button>
        <button type="button" name="submit" onclick="location.href='{% url 'snack_delete' snack.pk %}'">Delete Snack</button>
{#    <a href="{% url 'snack_update' snack.pk %}" class="button">+ Update the Snack</a>#}
{#    <a href="{% url 'snack_delete' snack.pk %}" class="button">+ Delete the Snack</a>#}
    </section>
{% endblock content %}